.zoom {
    width: fit-content;
    height: fit-content;
    align-self: center;
    text-align: center;
    margin-left: 18px;

    &__buttons {
        background-color: rgba(0, 0, 0, 1);
    }

    &__button {
        width: 40px;
        height: 40px;
        font-size: 24px;
        font-weight: bold;
        color: white;
        background-color: transparent;
        cursor: pointer;
    }

    &__info {
        font-weight: bold;
    }
}