.zoom {
    height: 100%;

    text-align: center;

    &__buttons {
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__button {
        width: 40px;
        height: 40px;
        font-size: 24px;
        color: white;

        background-color: transparent;
        border: 1px solid black;
        cursor: pointer;
    }

    &__info {
        font-weight: bold;
    }
}