.sidebar {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    &__form {
        position: relative;
        display: inline-block;
    }

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }

    &__button {
        width: 60px;
        height: 60px;
        margin-bottom: 12px;

        background-color: white;

        cursor: pointer;

        &_circle {
            border-radius: 100%;
        }

        &_triangle {
            width: 0;
            height: 0;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 60px solid white;
            background-color: transparent;
        }

        &_line {
            height: 10px;
            margin-bottom: 0px;
            background-color: white;
        }

        &_text {
            font-size: 60px;
            color: white;
            background-color: transparent;
        }

        &_img {
            position: relative;
            display: inline-block;
            height: 60px;
            background-image: url("img.png");
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        &_save {
            padding: 8px;
            font-size: 20px;
            font-weight: bold;
            color: white;

            border-radius: 8px;
            background-color: rgb(6, 145, 6);
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                background-color: rgb(3, 155, 3);
            }

            &:active {
                background-color: green;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .sidebar {
        &__button {
            width: 40px;
            height: 40px;
        }
    }
}